.container {
    .content {
        max-width: 1280px;
        margin: 0 auto;
        margin-top: 70px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-bottom: 20px;
    
        .buttonArea {
            display: flex;
            gap: 10px;
        }
    }
}