.toast {
    position: fixed;
    right: 10px;
    top: 70px;
    padding: 15px;
    border-radius: 10px;
    color: white;
    transform: translateX(calc(100% + 20px)); 
    transition: all ease-in 0.2s;
    z-index: 100;

    &.open {
        transform: translateX(0);
    }
    
    &.success {
        background: rgb(10, 233, 10);
    }
    
    &.error {
        background-color: red;
    }
    
    .toastCloseBtn {
        margin-left: 20px;
        cursor: pointer;
        font-size: 14px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border: 1px solid white;
        border-radius: 50%;
        padding: 2px 5px;
    }
}

