.container {
    padding: 10px;
    outline: none;
    border: 1px solid #ccc;
    color: white;
    border-radius: 10px;
    cursor: pointer;

    &.primary {
        background-color: #00419E;
    }

    &.success {
        background-color: green;
    }
}